@model RecordFCS_Alt.Models.MovimientoTemp

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MovimientoTemp</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TipoMovimiento.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoMovimiento.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UbicacionDestino.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UbicacionDestino.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UbicacionOrigen.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UbicacionOrigen.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Folio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Folio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TieneExposicion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TieneExposicion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstadoMovimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstadoMovimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaRegistro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Observaciones)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Observaciones)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaSalida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaSalida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaRetorno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaRetorno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Seguro_Asegurador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seguro_Asegurador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Seguro_NoPoliza)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seguro_NoPoliza)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Seguro_FechaInicial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seguro_FechaInicial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Seguro_FechaFinal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seguro_FechaFinal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Seguro_Notas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seguro_Notas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Solicitante_Cargo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Solicitante_Cargo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Solicitante_Institucion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Solicitante_Institucion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Solicitante_Representante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Solicitante_Representante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Solicitante_RepresentanteCargo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Solicitante_RepresentanteCargo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Solicitante_DictamenCondicionEspacio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Solicitante_DictamenCondicionEspacio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Solicitante_DictamenSeguridad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Solicitante_DictamenSeguridad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Solicitante_PeticionRecibida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Solicitante_PeticionRecibida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Solicitante_FacilityReport)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Solicitante_FacilityReport)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Solicitante_RevisionGuion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Solicitante_RevisionGuion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Solicitante_CartaAceptacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Solicitante_CartaAceptacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Solicitante_ListaAvaluo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Solicitante_ListaAvaluo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Solicitante_ContratoComodato)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Solicitante_ContratoComodato)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Solicitante_TramitesFianza)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Solicitante_TramitesFianza)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Solicitante_PolizaSeguro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Solicitante_PolizaSeguro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Solicitante_CondicionConservacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Solicitante_CondicionConservacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Solicitante_AvisoSeguridad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Solicitante_AvisoSeguridad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Solicitante_CartasEntregaRecepcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Solicitante_CartasEntregaRecepcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Transporte_Empresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Transporte_Empresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Transporte_Medio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Transporte_Medio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Transporte_Recorrido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Transporte_Recorrido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Transporte_Horarios)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Transporte_Horarios)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Transporte_Notas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Transporte_Notas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Autorizacion_Nombre1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Autorizacion_Nombre1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Autorizacion_Nombre2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Autorizacion_Nombre2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Autorizacion_Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Autorizacion_Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Responsable_Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Responsable_Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Responsable_Institucion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Responsable_Institucion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Responsable_FechaSalida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Responsable_FechaSalida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Responsable_FechaRetorno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Responsable_FechaRetorno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Exposicion_Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Exposicion_Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Exposicion_Curador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Exposicion_Curador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Exposicion_Sede)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Exposicion_Sede)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Exposicion_Pais)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Exposicion_Pais)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Exposicion_FechaInicial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Exposicion_FechaInicial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Exposicion_FechaFinal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Exposicion_FechaFinal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Temp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Temp)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MovimientoTempID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
