@model RecordFCS_Alt.Models.MovimientoTemp

@{
    ViewBag.PagName = "Movimiento";
    ViewBag.CtrlName = "Obra";
    ViewBag.Title = @ViewBag.PagName + ViewBag.CtrlName;

    SelectList LetraFolioID = (SelectList)ViewBag.LetraFolioID;
}

<h3>
    @ViewBag.PagName
    <i class="text-muted">@ViewBag.CtrlName</i>
</h3>

<ol class="breadcrumb">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@ViewBag.CtrlName</li>
    <li class="active">@Html.ActionLink("Movimientos", "Index", "MovimientoTemp")</li>
</ol>

<div class="row">

    <div id="renderMenuBuscarMovimiento">

        <h3 class="col-md-11 text-center"><i class="fa fa-search"></i> <b>Consultar Movimiento</b></h3>

        @using (Html.BeginForm("BuscarMovimientos", "MovimientoTemp", FormMethod.Get, new { @Class = "formConsultar form-center" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">

                <div class="form-group">
                    @Html.Label("FolioMovimiento", "No° Folio", htmlAttributes: new { @class = "control-label col-md-2 " })
                    <div class="col-md-7">
                        @Html.TextBox("FolioMovimiento", null, new { @Class = "form-control", type = "number" })
                    </div>
                </div>


                @*<div class="form-group">
                        @Html.Label("NoInventario", "No. Inventario", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            <div class="input-group">
                                @Html.DropDownList("LetraFolioID", LetraFolioID, null, htmlAttributes: new { @class = "form-control" })
                                <span class="input-group-addon"></span>
                                <input type="text" id="NoInventario" name="NoInventario" value="" class="form-control input-sm" />
                            </div>
                        </div>
                    </div>*@


                @*<div class="form-group">
                        @Html.Label("FolioObraPieza", "Pieza N° Folio", htmlAttributes: new { @class = "control-label col-md-2 " })
                        <div class="col-md-7">
                            @Html.TextBox("FolioObraPieza", null, new { @Class = "form-control"})
                        </div>
                    </div>*@

                <h4 class="col-md-11 text-center"><i class="fa fa-calendar"></i> Rango de fechas:</h4>
                <div class="row">

                    <div class="col-md-4 col-md-offset-1">
                        <div class="form-group">
                            @Html.Label("FechaInicial", "Inicial", htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                <div class="input-group date" id="FechaInicialDTP">
                                    @Html.TextBox("FechaInicial", "", new { @class = "form-control", readOnly = "" })

                                    <div class="btn btn-primary input-group-addon" data-toggle="tooltip" title="Abrir calendario">
                                        <span class="fa fa-calendar"></span>
                                    </div>

                                </div>
                            </div>

                            <script type="text/javascript">

                                $(function () {
                                    $('#FechaInicialDTP').datetimepicker({

                                        //minDate: fechaMin, //limitar que no se seleccione fechas pasadas a hoy
                                        format: "DD/MM/YYYY hh:mm A", //formato: dia/mes/año hora:minuto AM/PM
                                        //disabledDates: [
                                        //    moment("12/25/2013"),
                                        //    new Date(2013, 11 - 1, 21),
                                        //    "11/22/2013 00:53"
                                        //],
                                        toolbarPlacement: 'top',
                                        showTodayButton: true,
                                        showClose: true,
                                        showClear: true,
                                        ignoreReadonly: true,
                                        useCurrent: false //Important! See issue #1075
                                    });
                                });
                            </script>

                        </div>



                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.Label("FechaFinal", "Final", htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                <div class="input-group date" id="FechaFinalDTP">
                                    @Html.TextBox("FechaFinal", "", new { @class = "form-control", readOnly = "" })

                                    <div class="btn btn-primary input-group-addon" data-toggle="tooltip" title="Abrir calendario">
                                        <span class="fa fa-calendar"></span>
                                    </div>

                                </div>
                            </div>

                            <script type="text/javascript">
                                $(function () {

                                    $('#FechaFinalDTP').datetimepicker({
                                        format: "DD/MM/YYYY hh:mm A", //formato: dia/mes/año hora:minuto AM/PM
                                        toolbarPlacement: 'top',
                                        showClose: true,
                                        showClear: true,
                                        ignoreReadonly: true,
                                        useCurrent: false //Important! See issue #1075
                                    });

                                    $("#FechaInicialDTP").on("dp.change", function (e) {
                                        $('#FechaFinalDTP').data("DateTimePicker").minDate(e.date);
                                    });

                                    $("#FechaFinalDTP").on("dp.change", function (e) {
                                        $('#FechaInicialDTP').data("DateTimePicker").maxDate(e.date);
                                    });

                                });
                            </script>

                        </div>

                    </div>
                </div>

                <h4 class="col-md-11 text-center"><i class="fa fa-map"></i> Ubicaciones:</h4>

                <div class="row">

                    <div class="col-md-4 col-md-offset-1">
                        <div class="form-group">
                            @Html.Label("UbicacionOrigenID", "Origen", htmlAttributes: new { @class = "control-label col-md-3 " })
                            <div class="col-md-9">
                                @Html.DropDownList("UbicacionOrigenID", null, "- Origen -", htmlAttributes: new { @class = "form-control" })
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.Label("UbicacionDestinoID", "Destino", htmlAttributes: new { @class = "control-label col-md-3 " })
                            <div class="col-md-9">
                                @Html.DropDownList("UbicacionDestinoID", null, "- Destino -", htmlAttributes: new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>



                @*<div class="form-group">
                        @Html.LabelFor(model => model.EstadoMovimiento, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-7">
                            @Html.EnumDropDownListFor(model => model.EstadoMovimiento, htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>*@


                <div class="form-group">
                    <div class="col-md-11 text-center">
                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#ModalNuevoMov"><i class="fa fa-plus"></i> Nuevo</button>

                        <button type="submit" class="btn btn-primary" data-toggle="tooltip" data-original-title="Buscar Movimiento"><i class="fa fa-search"></i> Buscar</button>
                    </div>
                </div>


            </div>

        }
    </div>
</div>



<div class="row">
    <div id="renderListaMovimientos"></div>
</div>













<div>

    <!-- Trigger the modal with a button -->

    <!-- Modal -->
    <div id="ModalNuevoMov" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-toggle="tooltip" title="Cerrar">&times;</button>
                    <h4 class="modal-title">
                        <b>Menú</b>
                        <i class="text-muted">Nuevo Movimiento</i>
                    </h4>
                </div>

                @using (Html.BeginForm("Crear", "MovimientoTemp", FormMethod.Get, new { @Class = "form-center" }))
                {
                    <div class="modal-body">

                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">

                            <div class="form-group">
                                @Html.LabelFor(model => model.TipoMovimientoID, null, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.DropDownList("TipoMovimientoID", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.TipoMovimientoID, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.TieneExposicion, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    <div class="checkbox">
                                        @Html.EditorFor(model => model.TieneExposicion)
                                        @Html.ValidationMessageFor(model => model.TieneExposicion, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="modal-footer">
                        <button class="btn" type="button" data-dismiss="modal">Cancelar</button>
                        <input class="btn btn-primary" type="submit" value="Aceptar" />

                    </div>


                }

            </div>

        </div>
    </div>



</div>

<script src="~/Scripts/add.toolTip.js"></script>


<script>

    $('form.formConsultar').submit(function (e) {

        $.ajax({
            url: this.action,
            type: this.method,
            data: $(this).serialize(),
            success: function (result) {
                $('#renderListaMovimientos').html(result);//  Campo que actualizara
                $('#alertasDiv').load('/Base/_Alertas');
            }
        });
        return false;
    });


</script>