@model List<RecordFCS_Alt.Models.ViewModels.Item_MovPieza>


@{
    string NombreLista = ViewBag.NombreLista;
    bool AddPiezaEnabled = ViewBag.AddPiezaEnabled;
}

@*id= renderListaPiezas*@

@switch (NombreLista)
{
    case "listaError":
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.FolioPieza
                </td>

                <td>
                    @item.Comentario

                    <div class="pull-right">

                        @if (AddPiezaEnabled)
                        {
                            if (!item.SeMovio)
                            {
                                if (item.ExisteEnMov)
                                {
                                    <span class="fa fa-unlock" data-toggle="tooltip" title="Desbloqueada"></span>

                                }

                                if (AddPiezaEnabled)
                                {
                                    <div class="checkbox pull-right">
                                        <label>
                                            <input type="checkbox" class="check-error" value="@item.PiezaID">
                                            <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                        </label>
                                    </div>
                                }
                            }
                            else
                            {
                                if (item.ExisteEnMov)
                                {
                                    <span class="fa fa-lock" data-toggle="tooltip" title="Bloqueada"></span>

                                }
                            }
                        }


                        @Html.Hidden("ListaPiezas[" + item.Indice + "].PiezaID", item.PiezaID)
                        @Html.Hidden("ListaPiezas[" + item.Indice + "].EnError", item.EnError)
                        @Html.Hidden("ListaPiezas[" + item.Indice + "].EsPendiente", item.EsPendiente)
                        @Html.Hidden("ListaPiezas[" + item.Indice + "].SeMovio", item.SeMovio)
                        @Html.Hidden("ListaPiezas[" + item.Indice + "].Comentario", item.Comentario)
                        @Html.Hidden("ListaPiezas[" + item.Indice + "].FolioObra", item.FolioObra)
                        @Html.Hidden("ListaPiezas[" + item.Indice + "].FolioPieza", item.FolioPieza)
                        @Html.Hidden("ListaPiezas[" + item.Indice + "].Titulo", item.Titulo)
                        @Html.Hidden("ListaPiezas[" + item.Indice + "].ExisteEnMov", item.ExisteEnMov)
                        @Html.Hidden("ListaPiezas[" + item.Indice + "].EsUltimo", item.EsUltimo)




                    </div>

                </td>



            </tr>
        }
        break;

    default:
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.FolioPieza
                </td>

                @*<td>
                    @item.Titulo
                </td>*@

                <td>
                    @*@item.Autor*@

                    <div class="pull-right">

                        @if (AddPiezaEnabled)
                        {

                            if (item.SeMovio)
                            {
                                <span class="fa fa-exchange" data-toggle="tooltip" title="Movida"></span>
                            }


                            if (item.EsUltimo)
                            {
                                if (item.ExisteEnMov)
                                {
                                    <span class="fa fa-unlock" data-toggle="tooltip" title="Desbloqueada"></span>

                                }


                                <div class="checkbox pull-right">
                                    <label>
                                        <input type="checkbox" class="check-aceptar" value="@item.PiezaID">
                                        <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                    </label>
                                </div>

                            }
                            else
                            {
                                if (item.ExisteEnMov)
                                {
                                    <span class="fa fa-lock" data-toggle="tooltip" title="Bloqueada"></span>

                                }
                            }

                        }








                        @Html.Hidden("ListaPiezas[" + item.Indice + "].Comentario", item.Comentario)
                        @Html.Hidden("ListaPiezas[" + item.Indice + "].EnError", item.EnError)
                        @Html.Hidden("ListaPiezas[" + item.Indice + "].EsPendiente", item.EsPendiente)
                        @Html.Hidden("ListaPiezas[" + item.Indice + "].ExisteEnMov", item.ExisteEnMov)
                        @Html.Hidden("ListaPiezas[" + item.Indice + "].FolioObra", item.FolioObra)
                        @Html.Hidden("ListaPiezas[" + item.Indice + "].FolioPieza", item.FolioPieza)
                        @Html.Hidden("ListaPiezas[" + item.Indice + "].ObraID", item.ObraID)
                        @Html.Hidden("ListaPiezas[" + item.Indice + "].PiezaID", item.PiezaID)
                        @Html.Hidden("ListaPiezas[" + item.Indice + "].SeMovio", item.SeMovio)
                        @Html.Hidden("ListaPiezas[" + item.Indice + "].Titulo", item.Titulo)
                        @Html.Hidden("ListaPiezas[" + item.Indice + "].UbicacionID", item.UbicacionID)
                        @Html.Hidden("ListaPiezas[" + item.Indice + "].EsUltimo", item.EsUltimo)


                    </div>

                </td>

            </tr>
        }
        break;
}




<script type="text/javascript">
    $(function () {

        var total = @Model.Count;
        var listaNombre = '@NombreLista';


        $('#badge_' + listaNombre).html(total);

        if (total == 0) {
            //alert("ocultar: " + listaNombre);
            $('#fiel' + listaNombre).hide();
            if (listaNombre == "listaAceptar") {
                $('#btnSubmitEditar').prop('disabled', true);

            }
        }
        else{
            $('#fiel' + listaNombre).show();
            if (listaNombre == "listaAceptar") {
                $('#btnSubmitEditar').prop('disabled', false);
            }
        }
    });
</script>





<script src="~/Scripts/add.toolTip.js"></script>
