<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Impresión - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")

    <link href="~/Content/Print.css" rel="stylesheet" />

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</head>

<body>
    <div class="">
        @RenderBody()
    </div>
   
</body>
</html>
