@using RecordFCS_Alt.Models
@model RecordFCS_Alt.Models.ArchivoPieza
@using RecordFCS_Alt.Helpers

@{
    ViewBag.PagName = "Editar " + Model.TipoArchivo.Nombre;
    ViewBag.CtrlName = Model.Titulo;

    bool esImagen = ViewBag.esImagen;

}

@Html.Hidden("NombreModal", "")
@Html.Hidden("NombreModalContenido", "")

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">
        <span class="@Model.TipoArchivo.Icono"></span>
        <b>@ViewBag.PagName</b>
        <i class="text-muted">@ViewBag.CtrlName</i>
    </h4>
</div>

@using (Html.BeginForm("Editar", "ArchivoPieza", FormMethod.Post, new { id = "formEditarArchivo", enctype = "multipart/form-data" }))
{
    <div class="modal-body">

        @Html.AntiForgeryToken()

        @if (esImagen)
        {
            <div class="text-center">
                <img src="@Model.RutaThumb" class="thumbnail imagenMini" />
            </div>
        }

        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.ArchivoPiezaID)
            @Html.HiddenFor(model => model.NombreArchivo)
            @Html.HiddenFor(model => model.PiezaID)
            @Html.HiddenFor(model => model.Extension)
            @Html.HiddenFor(model => model.TipoArchivoID)

            <div class="form-group">
                <label for="FileArchivo" class="control-label col-md-2">Archivo</label>

                <div class="col-md-10">
                    <input type="file" id="FileArchivo" name="FileArchivo" class="form-control" />
                    <p class="help-block">Se reemplazara el archivo actual por el seleccionado.</p>

                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Orden, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Orden, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Orden, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Titulo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Titulo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Titulo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Url, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Url, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Url, "", new { @class = "text-danger" })
                </div>
            </div>



            <div class="form-group">
                @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.Status)
                        @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>


            <h3 class="text-center">Mostrar en:</h3>
            @foreach (var itemModel in Model.MostrarArchivos)
            {
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-4">
                            @Html.CheckBox("mosArc_" + itemModel.TipoMostrarArchivoID + "_Status", itemModel.Status)
                        <label for="@(string.Format("mosArc_{0}_Status",itemModel.TipoMostrarArchivoID))">@itemModel.TipoMostrarArchivo.Nombre</label>

                    </div>
                </div>
            }



        </div>

    </div>

    <div class="modal-footer">
        <button class="btn" type="button" data-dismiss="modal">Cancelar</button>
        <input class="btn btn-primary" type="submit" value="Guardar" />
    </div>

}



<script type='text/javascript'>
    $('#formEditarArchivo').submit(function (event) {

        $.ajaxSetup({ cache: false });

        event.preventDefault();

        var formData = new FormData($(this)[0]);

        var myurl = '@Url.Action("Editar", "ArchivoPieza", null)';

        var modalNombre = $('#NombreModal').val();
        var modalNombreContenido = $('#NombreModalContenido').val();


        $.ajax({
            url: myurl,
            type: 'POST',
            data: formData,
            async: false,
            cache: false,
            contentType: false,
            processData: false,
            success: function (result) {
                if (result.success) {

                    var renderID = '';

                    if (result.esImagen) {
                        renderID = '#renderCarrusel_' + result.idPieza
                    }
                    else {
                        renderID = '#render_listaArchivoPieza_' + result.idPieza
                    }

                    $(renderID).load(result.url); // campo que reemplazara + accion


                    $('#alertasDiv').load('@Url.Action("_Alertas","Base")');
                    $("#alertasDiv").css("z-index", "2000");
                    $('#' + modalNombre).modal('hide');

                }
                else {
                    $('#' + modalNombreContenido).html(result);
                    $('#alertasDiv').load('@Url.Action("_Alertas","Base")');
                    $("#alertasDiv").css("z-index", "2000");
                }
            },
            error: function () {
                alert("Ocurrio un error en el envio");
            }
        });

        formData = null;

        return false;
    });

</script>




