@model IEnumerable<RecordFCS_Alt.Models.ArchivoPieza>
@using RecordFCS_Alt.Helpers

@{
    Guid id = ViewBag.id;
    bool esCompleta = ViewBag.esCompleta;
    Guid TipoArchivoID = ViewBag.TipoArchivoID;
    Guid? TipoMostrarArchivoID= ViewBag.TipoMostrarArchivoID;

}


<div class="row">

    <div class="col-lg-4 col-md-4">
        <table class="table table-hover table-condensed">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Titulo)
                    <span class="badge" data-toggle="tooltip" title="Total de registros">@Model.Count()</span>
                </th>
                <th>
                    @if (User.IsInRole("arcNew") && esCompleta)
                    {
                        @Html.NoEncodeActionLink("<span class='fa fa-plus'></span>", "Nuevo", "Crear", "ArchivoPieza", new { id = id, TipoArchivoID = TipoArchivoID, esCompleta = esCompleta }, htmlAttributes: new { data_modal = "", data_toggle = "tooltip", @class = "btn btn-success btn-sm pull-right archivoPiezaModal" })
                    }
                </th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Titulo)
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>


                    <td>
                        <div class="pull-right">
                            @Html.NoEncodeActionLink("<span class='" + item.TipoArchivo.Icono + "'></span>", "Visualizar", "Detalles", "ArchivoPieza", new { id = item.ArchivoPiezaID }, htmlAttributes: new { data_toggle = "tooltip", @class = "btn btn-info btn-xs archivoPiezaPlay" })

                            @if (esCompleta)
                            {
                                if (User.IsInRole("ubiHist"))
                                {
                                    @Html.NoEncodeActionLink("<span class='fa fa-history'></span>", "Historial de cambios ", "IndexSimple", "HistorialLog", routeValues: new { id = item.ArchivoPiezaID, tabla = "ArchivoPieza", nombre = item.Titulo }, htmlAttributes: new { data_modal = "", data_toggle = "tooltip", @class = "btn btn-black btn-xs openModalLG_Historial" })
                                }

                                if (User.IsInRole("arcEdit"))
                                {
                                    @Html.NoEncodeActionLink("<span class='fa fa-pencil'></span>", "Editar", "Editar", "ArchivoPieza", new { id = item.ArchivoPiezaID }, htmlAttributes: new { data_modal = "", data_toggle = "tooltip", @class = "btn btn-default btn-xs archivoPiezaModal" })
                                }
                                
                                @*if (User.IsInRole("arcDel"))
                                {
                                    @Html.NoEncodeActionLink("<span class='fa fa-trash'></span>", "Eliminar", "Eliminar", "ArchivoPieza", new { id = item.ArchivoPiezaID }, htmlAttributes: new { data_modal = "", data_toggle = "tooltip", @class = "btn btn-danger btn-xs archivoPiezaModal" })
                                }*@
                            }
                        </div>
                    </td>
                </tr>
            }
        </table>

    </div>

    <div class="col-lg-8 col-md-8">
        <div id="renderPreview">

        </div>
    </div>
</div>


<script src="~/Scripts/add.toolTip.js"></script>



<script type="text/javascript">
    $(function () {
        $.ajaxSetup({ cache: false });


        //$("a[data-modal].openModalLG_Historial").on("click", function (e) {
        //    $('#miModalContenidoFloatLG').load(this.href, function () {
        //        $('#miModalFloatLG').modal({
        //            backdrop: 'static',
        //            keyboard: true
        //        }, 'show');

        //        $("#miModalFloatLG").css("z-index", "1500");

        //    });
        //    return false;
        //});




        $('a[data-modal].archivoPiezaModal').on("click", function (e) {

            $('#miModalContenidoFloat').load(this.href, function () {

                $('#miModalFloat').modal({
                    backdrop: 'static',
                    keyboard: true
                }, 'show');

                $('#NombreModal').val("miModalFloat");
                $('#NombreModalContenido').val("miModalContenidoFloat");

                $("#miModalFloat").css("z-index", "1500");

            });

            return false;
        });


        $('a.archivoPiezaPlay').on('click', function (e) {

            $('#renderPreview').load(this.href);

            return false;
        });
    });
</script>


