@model RecordFCS_Alt.Models.ArchivoPieza

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ArchivoPieza</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Pieza.SubFolio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pieza.SubFolio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoArchivo.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoArchivo.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Orden)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Orden)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Url)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Url)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreArchivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreArchivo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ArchivoPiezaID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
